<div ng-controller="FilmController as ctrl">
<h2>Available Films</h2>
    <div class="form-group">
        <label filmfilter="usr">Filter:</label>
        <input type="text" ng-model="filmFilter.Title" class="form-control" id="filmfilter">
    </div>
<br/><br/>
<table class="table table-striped">
    <tr>
        <th>Director</th>
        <th ng-click="ctrl.doSort()">Title</th>
        <th>Release Date</th>
        <th>Age Rating</th>
    </tr>
    <tr ng-repeat="film in ctrl.films | filter:filmFilter | orderBy:ctrl.sortBy:ctrl.reverse">
        <td>{{film.director | uppercase}}</td>
        <td>{{film.name | lowercase}}</td>
        <td>{{film.releaseDate}}</td>
        <td>{{film.age}}</td>
    </tr>
</table>

<span>Total films: {{ctrl.films.length}}</span>
</div>